@use "globals" as *;

:root {
  // Defaults

  --mediaXXXL: 1660px;
  --mediaXXL: 1320px;
  --mediaXL: 1180px;
  --mediaLG: 1024px;
  --mediaMD: 768px;
  --mediaSM: 565px;
  --mediaXS: 376px;
  --mediaAdaptive: 820px;

  --mediaPaddingXXL: 4rem;
  --mediaPaddingXL: 2.4rem;
  --mediaPaddingLG: 1.6rem;

  --textBlack: #000;
  --textWhite: #fff;

  --scrollbar-width: 0px;
  --bg: #020308;

  --indexHeader: 75;
  --indexMenu: 100;
  --indexModal: 300;

  // Website
  --font-inter: "Inter Tight";
  --font-tthoves: "TT Hoves";

  --text-primary: #f5f5f5;
}

@include layer-defaults {
  html {
    font-size: 62.5%;
    padding-right: var(--scrollbar-width);
  }

  body {
    background: background();
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: $fontInter;
    font-size: 1.6rem;
  }

  .container {
    @include container(152rem);
  }

  html.hidden {
    overflow: hidden !important;
    padding-right: var(--scrollbar-width);
  }
}
