@import "tailwindcss";

@theme {
  --breakpoint-xs: 376px;
  --breakpoint-sm: 565px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1180px;
  --breakpoint-xxl: 1320px;
  --breakpoint-xxxl: 1660px;

  --color-primary: #f5f5f5;

  --font-tthoves: "TT Hoves";
  --font-inter: "Inter Tight";
}

@utility compositemask {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

@utility image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

@utility image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

html {
  font-family: var(--font-inter);
  font-size: 16px;
}
