@import "tailwindcss";

@theme {
  --breakpoint-xs: 376px;
  --breakpoint-sm: 565px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1180px;
  --breakpoint-xxl: 1320px;
  --breakpoint-xxxl: 1660px;
}