@import "tailwindcss";

@theme {
  --breakpoint-xs: 376px;
  --breakpoint-sm: 565px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1180px;
  --breakpoint-xxl: 1320px;
  --breakpoint-xxxl: 1660px;

  --color-primary: #f5f5f5;

  --font-tthoves: "TT Hoves";
  --font-inter: "Inter Tight";

  --tracking-1: 0.01em;
  --tracking-2: 0.02em;
  --tracking-3: 0.03em;
  --tracking-4: 0.04em;
  --tracking-5: 0.05em;

  --leading-1: 1.1;
  --leading-2: 1.2;
  --leading-3: 1.3;
  --leading-4: 1.4;
  --leading-5: 1.5;

  --u-text-gradient-none: none;

  --u-border-gradient-none: none;

  --u-text-rows-1: 1;
  --u-text-rows-2: 2;
  --u-text-rows-3: 3;
  --u-text-rows-4: 4;
  --u-text-rows-5: 5;

  --text-10: 0.625rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
}

@utility u-text-rows-* {
  display: -webkit-box;
  -webkit-line-clamp: --value([integer]);
  -webkit-line-clamp: --value(--u-text-rows-*);
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@utility u-text-gradient-* {
  background: --value(--u-text-gradient-*);
  background: --value([*]);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@utility u-border-gradient-* {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  border-radius: inherit;
  background: --value(--u-border-gradient-*);
  background: --value([*]);
  padding: 0.0625rem;
  pointer-events: none;
}

@utility compositemask {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  border-radius: inherit;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@utility image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

@utility image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

html {
  font-family: var(--font-inter);
  font-size: 16px;
}

.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.25rem;
  border-radius: 0.09375rem;
  background: #4a4a4d;
  outline: none;

  &::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    opacity: 0;
  }
}
