.hero {
  padding: 2rem;
  justify-content: center;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 4.2rem;
  padding: 0 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_star {
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(0, 0.8rem);
}

.header_btn {
  padding-left: 3rem;
  padding-right: 2rem;
  height: 4.4rem;
  border-radius: 6rem;

  opacity: 0;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  @include fontInter(1.4rem, 1.25, -0.01em, 400, textWhite());

  background: linear-gradient(to bottom, textWhite(0.03), textWhite(0));
  backdrop-filter: blur(4rem);

  position: relative;

  transition: filter 100ms ease;

  cursor: pointer;

  svg {
    width: 1.1rem;
    height: 1.1rem;
    flex-shrink: 0;
    stroke: #cfcfcf;
  }

  ._fund {
    @include textGradient(
      linear-gradient(to right, #f7b465, #f6d440, #ffd099 150%)
    );
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.15rem;
    border-radius: inherit;
    background: linear-gradient(190deg, textWhite(0.16), textWhite(0.04));
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_title {
  margin-top: 2rem;
  font-size: 17rem;
  line-height: 1;
  text-align: center;
}

.content_text {
  margin-top: 2.8rem;
  text-align: center;
  max-width: 66rem;
  width: 100%;
}

.light_container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 100%;
}
.light_image {
  width: 100%;
  opacity: 0;
}

.scrollBtn {
  transform: translate(0, 3rem) scale(0.8);
  opacity: 0;

  @include fontTThoves(1.1rem, 1.1, -0.01em, 400);
  @include textGradient(
    linear-gradient(to right, textWhite() 40%, textWhite(0.4))
  );

  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 1rem solid #d9d9d9;
  }
}

@include screenXXXL {
  .content_title {
    font-size: 12rem;
  }
  .content_text {
    margin-top: 2.2rem;
  }
}

@include screenLG {
  .header {
    top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header_star {
    transform: none;
  }
  .content_title {
    font-size: 10rem;
  }
}

@include screenMD {
  .hero {
    justify-content: space-between;
    padding-bottom: 0;
    gap: 4rem;
  }
  .content_title {
    font-size: 8rem;
  }
  .header {
    padding: 0;
  }
  .header,
  .light_container {
    position: relative;
    inset: auto;
  }
  .light_container {
    transform: translate(0, 0);
  }
}

@include screenSM {
  .content_title {
    font-size: 15.45vw;
  }
}